.chart-container {
  margin: 16px;
  background-color: #fff;
}

.inner-chart-wrapper {
  position: relative;
  overflow-x: auto;
  margin: 0;
  background: #fff;
}

.empty-chart-text {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  color: black;
  text-align: center;
}

.chart-line {
  padding: 8px;
}

.x-label {
  position: relative;
  z-index: 1000000;
  margin-top: -20px;
  margin-bottom: 22px;
  color: #000;
  text-align: center;
  font-weight: 900;
  font-size: 11px;
}

//.chart-wrapper {
//  display: grid;
//  margin: 16px;
//  min-width: calc(100% - 32px);
//  background-color: #aaa;
//}
